<div class="app">
  <div class="nav">
    <div class="nav-top">
      <p class="nav-top__title"><i class="fa fa-bars" aria-hidden="true"></i>Todos</p>
    </div>
    <div class="nav-bottom">
      <p class="nav-bottom__item">New Years Resolutions</p>
      <p class="nav-bottom__item">Groceries</p>
      <p class="nav-bottom__item">Homework</p>
      <p class="nav-bottom__item">Add New List</p>
    </div>
  </div>
  <div class="app__main">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>
