<div class="app">
  <div class="nav">
    <div class="nav__top">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <p class="nav__top-title">Todos</p>
    </div>
    <div class="nav__bottom">
      <p class="nav__bottom-item">New Years Resolutions</p>
      <p class="nav__bottom-item">Groceries</p>
      <p class="nav__bottom-item">Homework</p>
      <p class="nav__bottom-item nav__bottom-item--placeholder">Add New List</p>
    </div>
  </div>
  <div class="app__main">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>
